* {
   box-sizing: border-box;
   margin: 0;
}

.main_div {
   height: 100vh;
   width: 100%;
   background: lightcoral;
}

.main_header {
    height: 20vh;
    width: 100%;
    background-color: aqua;
}

.main_content {
 height: 70vh;
 width: 100%;
 background-color: bisque;
}

.main_footer {
   height: 10vh;
   width: 100%;
   background-color: rgb(119, 0, 255);
}

.child_main_contant {
   height: 100vh;
   width: 100%;
   background-color: rebeccapurple;
}